@tailwind base;
@tailwind components;
@tailwind utilities;

/* 你原本的設定可以留在下面 */
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}